.allPage{
    background-color:rgb(166, 171, 175);
}
.table{
    margin: 4%
}
.header{
    background-color: rgb(80, 77, 77);
}
.btg{
     margin-top: 7%;
}
.bt{
   
    background-color: rgb(166, 171, 175);
}